/*

//   ___      ___ ___  ___      ___           __      _______   ________  
//  |"  \    /"  |"  \/"  |    |"  |         /""\    |   _  "\ /"       ) 
//   \   \  //  / \   \  /     ||  |        /    \   (. |_)  :(:   \___/  
//    \\  \/. ./   \\  \/      |:  |       /' /\  \  |:     \/ \___  \    
//     \.    //    /\.  \       \  |___   //  __'  \ (|  _  \\  __/  \\   
//      \\   /    /  \   \     ( \_|:  \ /   /  \\  \|: |_)  :)/" \   :)  
//       \__/    |___/\___|     \_______(___/    \___(_______/(_______/  
//
// Unapproved use and redistribution of this code and respective product is strictly prohibited.
// Copyright© 2017 Keanu Ashwell all rights are reserved to the author, creator, registered 
// and licensed owners of this product and it's content

*/

/* Imports */

@import url('https://fonts.googleapis.com/css?family=Merienda');

/* Global DOM */

/* ID */

#grid-content {

    display: grid;
    
    grid-template-columns: auto 500px auto;
    grid-template-rows: auto 150px auto auto auto;

}

#grid-reset-container {
    
    display: grid;
    
    grid-column: 2;
    grid-row: 2;
    
    grid-template-columns: auto auto auto;
    grid-template-rows: 25px 35px 50px auto;
    
}

#grid-reset-heading {
    
    grid-column-start: 1;
    grid-column-end: 4;
    
    grid-row: 1;
    
    justify-self: start;
    
    -ms-flex-item-align: center;
    
    align-self: center;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1em;
    
    padding-left: 10px;
    
}

#grid-reset-form {
    
    display: none;
    
}

#grid-reset-input {
    
    grid-column-start: 1;
    grid-column-end: 4;
    
    grid-row: 2;
    
    justify-self: start;
    
    -ms-flex-item-align: start;
    
    align-self: start;
    
    height: 30px;
    width: 250px;
    
    background-color: transparent;
    
    border: none;
    border-bottom: 1px solid #FFFFFF;
    
    margin-left: 10px;
    
    font-family: 'Merienda', cursive;
    
    color: #FFFFFF;
    
}

#grid-reset-submit {

    grid-column-start: 1;
    grid-column-end: 4;

    grid-row: 3;

    justify-self: start;

    -ms-flex-item-align: center;

    align-self: start;

    height: 20px;
    width: 60px;

    background-color: #30839e;

    outline: none;
    
    color: #FFFFFF;
    
    border: none;
    
    margin-left: 10px;
    
    cursor: pointer;

}

/* Classes */

.grid-alert {

    grid-column: 2;
    grid-row: 2;
    
    justify-self: center;
    
    -ms-flex-item-align: center;
    
    align-self: end;
    
    color: #FF0000;
    
    font-family: 'Oswald', sans-serif;
    font-size: 2.6em;

}

.grid-field-alert {
    
    grid-column-start: 1;
    grid-column-end: 4;
    
    grid-row: 4;
    
    justify-self: start;
    
    -ms-flex-item-align: start;
    
    align-self: start;
    
    padding-left: 10px;
    
}

/* Sub Selectors */

#grid-reset-input:active, #grid-reset-input:focus {

    grid-column-start: 1;
    grid-column-end: 4;

    grid-row: 2;

    justify-self: start;

    -ms-flex-item-align: start;

    align-self: start;

    height: 30px;
    width: 250px;

    background-color: transparent;

    border: none;
    border-bottom: 1px solid #FFFFFF;

    margin-left: 10px;
    
    font-family: sans-serif;

}

/* Animations */

/* Media Queries */

@supports(display: grid) {

    /* Older Monitors */

    @media(max-width: 1280px) {

        /* Ids */

        #grid-content {

            display: grid;
            
            grid-template-columns: auto 500px auto;
            grid-template-rows: auto 150px auto auto auto;

        }

        /* Classes */

    }

    /* Tablet */

    /* Phone */

    @media(max-width: 768px) {



    }

}